spring:
  profiles:
    active: local
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
        format_sql: true
  jackson:
    time-zone: Asia/Seoul

server:
  port: ${SERVER_PORT:8080}

app:
  admin-nicknames: ${ADMIN_NICKNAMES:admin}
  daily-budget-default: ${DAILY_BUDGET_DEFAULT:100000}

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
  api-docs:
    path: /api-docs
